<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.Article.Title}} &ndash; {{.Title}}</title>
		{{template "meta" .}}
	</head>
	<body>
		<div id="root">

			{{template "header" .}}

			<main>
				<article>
					<header>
						{{if .Article.Date }}
							<span class="date">{{.Article.Date}}</span>
						{{end}}
						{{if .Article.Title}}
						<h1 class="title">{{.Article.Title}}</h1>
						{{end}}
					</header>
					<main>
						{{.Article.Body}}
					</main>
				</article>
			</main>

			{{template "footer" .}}

		</div>
	</body>
</html>
