{{define "meta"}}
	<meta charset="utf-8">
	<!--<link rel="icon" href="/favicon.ico" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="{{.Author}}">
	<meta name="description" content="{{.Description}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="alternate" title="{{.Title}}" type="application/rss+xml" href="/rss.xml" />
{{end}}
